---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const canonicalURL = "https://www.thecoderoom.dev/";

const { title, description } = Astro.props;
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="generator" content={Astro.generator} />

  <link rel="alternate" href="/feed.xml" type="application/rss+xml" />

  <meta name="title" content={`The Code Room | ${title}`} />
  <meta name="description" content={description} />

  <meta property="og:type" content="website" />
  <meta property="og:url" content={canonicalURL} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />

  <meta name="google-adsense-account" content="ca-pub-1423025441754911">

  <!-- <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content={canonicalURL} />
  <meta property='twitter:title' content={title} />
  <meta property='twitter:description' content={description} /> -->

  <!-- Google tag (gtag.js) -->
  <script
    async
    type="text/partytown"
    src="https://www.googletagmanager.com/gtag/js?id=G-PR2F6N3W0R"></script>
  <script type="text/partytown" is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-PR2F6N3W0R");
  </script>

  <link rel="canonical" href={canonicalURL} />
  <link rel="icon" type="image/svg" href="/favicon.svg" />

  <title>The Code Room | {title}</title>

  <ViewTransitions />

  <slot />
</head>
